body {
    /* background-image: url('../images/header-image-2.jpg'); */
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    overflow: auto;
    z-index: -1px;
    background-size: cover;
    color: #750e02;
  }

.navbar {
    background-color: #750e02;
    color: #750e02;
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron {
    background-image: url("../images/header-image-2.jpg");
    background-size: cover;
    color: white;
}

a:active {
    color: #750e02;
}

a:visited {
    color: #750e02;
}

a:hover {
    color: #750e02;
}


.header {
    background-color: rgb(rgba(255, 0, 0, 0.418), green, blue);
    margin-top: 30px;
}

h2 {
    color: #fc9a15;
}

.text-container {
    margin-top: 20px;
}

#form-container {
    margin-top: 30px;
    text-align: center;
}


#form-display {
    color: #750e02;
    padding: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-align: left;
}


#card-display {
    margin: 30px;
}

.card {
    margin: 10px;
}

.btn {
    background-color: #750e02;
    color: #ffffff;
}

.btn:hover {
    background-color: #bf5d02;
    color: #fee85e;
}
.social,#buttons{
    margin: 50px;
}
#logout{
    float: right;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #750e02;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: solid #fee85e;
    background-color: white;
    text-align: center;

}